<div class="container p-5" style= "border: 1px solid #d4d4d4; max-width:1100px; margin-top:70px;">
        <div class="row">
            <div class="col-md-12">
                <h1 class="font-bold" style="color: #5A5C69; font-sixe:20px;">Dear Care Giver,</h1>
            </div>
            <div class="col-md-12">
                <p class="" style="color: #858796;">This page is to help you access your payroll stubs at any time at your convenience. To be able to successfully do that, here are a few helpful tips.</p>
            </div>
            <div class="col-md-12">
                <ul style="list-style-type: decimal;">

                    <li class="my-4" style="color: #858796;">One time step Contact deepti@caremountain.com and request access to your payslips. To ensure data security, we ‘turn on’ access to your payroll system only upon your request.</li>
                    <div class="col-md-12 my-3" style="border-top: 1px solid #d4d4d4;"></div>

                    <li class="my-4" style="color: #858796;">Once you have access you can click the button below and login. You will see a menu option to open Pay Slips where you can download pay slips for any time period in the current year.</li>
                    <div class="col-md-12 my-3" style="border-top: 1px solid #d4d4d4;"></div>

                    <li class="my-4" style="color: #858796;">For Recovery If you have forgotten your username or password, contact <a href="#">deepti@caremountain.com</a> and we will help reset the password</li>
                </ul>
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-primary text-center">Access your pay Slips</button>
            </div>
        </div>
    </div>