<p id="notice"><%= notice %></p>

<%= render "show" %>
<%= link_to 'Edit', edit_support_request_path(@support_request), class:"btn btn-primary" %> |
<%= link_to 'Back', support_requests_path(open:true), class:"btn btn-primary" %>

