
<p id="notice" class="alert" role="alert"><%= notice %></p>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Documents</h1>
    <%= link_to 'New User Doc', new_user_doc_path, class: "btn btn-primary" %>
</div>

<%= render "index" %>
<%= paginate @user_docs, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>