<p>Dear <%= @support_request.user.first_name %>,</p>
<% if @support_request.created_at == @support_request.updated_at %>
<p>
    Thank you for submitting your request to Care Mountain’s Admin team. 
    We will process your request within 72 business hours (outside of weekends). 
    Please find the details below 
</p>
<% else %>
<p>
    Your ticket has been updated. Please find the details below
</>
<% end %>
<%= render "/support_requests/show" %>
