/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap-datepicker
 *= require_self
 */

 @import "./actiontext.scss";
 @import "simple_calendar";

.profile_pic {
     max-width: 200px;
     max-height: 400px;
 }


a.btn {
    color: white !important;
}

a:visited, a:hover {
    color: #4e73df;
    background-color: transparent;
}

#notice {
    text-align: center;
}

.btn-div {
    text-align: center;
    padding: 20px;
}

.form-select-request select {
    width: 100%;
}

// mobile secren
@media (min-width:320px) and (max-width:768px) {
    .d-hide{
      display: none;
    }

    .card-body [class="btn btn-primary btn-lg"]{
        margin-top: 10px;
        font-size: 1rem !important;
    }
  }
