<% flash.each do |type, msg| %>
    <div class="alert alert-success">
      <%= msg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </div>
<% end %>

<script>

</script>