        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

            <li class="nav-item">
                <a class="nav-link" href="/">
                <img class="rounded-square"
                    src="/img/care_mountain.jpeg">
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            
            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Pages Collapse Menu -->
            <% if current_user %>
            <li class="nav-item">

                <% if current_user.role == 'Admin' %>
                    <a class="nav-link" href="/users">
                        <i class="fas fa-fw fa-users"></i>
                        <span>Users</span></a>
                <% else %>
                    <a class="nav-link" href="<%= user_path(current_user) %>">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Profile</span></a>
                <% end %>

                <a class="nav-link" href="/support_requests?open=true">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Support</span></a>
            
                <a class="nav-link" href="/user_docs">
                    <i class="fas fa-fw fa-file"></i>
                    <span>Documents</span></a>

                <a class="nav-link" href="<%= destroy_user_session_path %>" data-method="delete">
                    <i class="fas fa-fw fa-sign-out-alt"></i>
                    <span>Sign Out</span></a>

            </li>
            <% else %>
            <li class="nav-item">

                <a class="nav-link" href="<%= new_user_session_path %>" >
                    <i class="fas fa-fw fa-sign-in-alt"></i>
                    <span>Sign In</span></a>

            </li>
            <% end %>


        </ul>
        <!-- End of Sidebar -->
